# Notebook 3. DOT

Load data into `public.nsso_ayush` table in Postgres database to run tests using [DOT](https://github.com/datakind/Data-Observation-Toolkit/).

In [1]:
import os

import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 250)
pd.set_option('display.max_colwidth', None)

from sqlalchemy import create_engine

In [3]:
# Read dataset from inside the data directory.
df = pd.read_parquet("../data/79AyushHH.parquet")
print(df.shape)
df.head()

(181298, 67)

,sec,sample,state_ut,round,sch_name,fsu,su,sd,sss,ssu,svc,reason,st,nssreg,dc,strm,sstrm,sr,sro,nsc,mult,hhsize,religion,social,hhtype,bl04i05,bl04i06,bl04i07,bl04i08,bl04i09,bl04i10,bl07i011,bl07i012,bl07i013,bl07i014,bl07i015,bl07i016,bl07i017,bl07i018,bl07i019,bl07i0110,bl07i0111,bl07i0112,bl07i0113,bl07i0114,bl07i0115,bl07i0119,bl07i02,bl07i03,bl07i04,bl07i05,bl07i061,bl07i062,bl07i063,bl07i064,bl07i07,bl07i08,bl07i09,bl07i10,bl07i11,bl07i12,bl07i13,bl07i14,bl07i15,bl07i16,inf_srl,response
0,1,1,Sikkim,79,AYUSH,56583,1,NaN,1,1,1,NaN,11,111,1,22,1,4,1110,4,3708,6,6,1,1,6000,3000,250,13000,3000,10583,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,3.0,1.0,0.0,1.0,0.0,0.0,1.0,2.0,1,1.0,2.0,1,1.0,1,2,NaN,2.0,1
1,1,1,Sikkim,79,AYUSH,56583,1,NaN,1,2,1,NaN,11,111,1,22,1,4,1110,4,3708,3,6,1,1,5000,2800,180,10000,3000,9063,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,2.0,1,1.0,1,2,NaN,2.0,1
2,1,1,Sikkim,79,AYUSH,56583,1,NaN,1,3,1,NaN,11,111,1,22,1,4,1110,4,3708,6,6,1,1,9000,3500,300,17000,6000,14717,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,1.0,1,1.0,1,2,NaN,2.0,1
3,1,1,Sikkim,79,AYUSH,56583,1,NaN,1,4,1,NaN,11,111,1,22,1,4,1110,4,3708,6,6,1,1,11000,3500,250,15000,4000,16333,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,2.0,1,1.0,1,2,NaN,2.0,1
4,1,1,Sikkim,79,AYUSH,56583,1,NaN,1,5,1,NaN,11,111,1,22,1,4,1110,4,3708,3,6,1,1,5500,2000,180,8000,3500,8638,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,2.0,1,1.0,1,2,NaN,2.0,1

In [4]:
# Read password to connect to Postgres from the environment.
password = os.getenv("POSTGRES_PASSWORD")
engine = create_engine(f"postgresql://postgres:{password}@localhost:5433/dot_db")

In [5]:
# Instead of the entire dataset, loading only a subset into the database table.
df.sample(10000).to_sql("nsso_ayush", engine, schema="public", if_exists="replace", index=False, method="multi")

10000